
@font-face {
  font-family: "Joystix";
  src: url("./fonts/Joystix.ttf.woff");
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (900 - 320)));
}

header {
  font-family: "Joystix";
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: url('./imgs/space-bg.png') center fixed;
  color: white;
}

h1 {
  margin-bottom: 0.5rem;
  font-weight: normal;
  text-shadow: 0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
}

header time {
  margin-bottom: 1.5rem;
  animation: blink 7s step-end infinite;
}

nav ul {
  margin-bottom: 0;
  font-size: 0.9rem;
}

nav li {
  list-style: none;
  margin-bottom: 0.4rem;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover,
nav a:active {
  color: #76ff01;
}

nav a:hover::before,
nav a:hover::after,
nav a:active::before,
nav a:active::after {
  content: ">";
  font-size: 1em;
  width: 1em;
  height: 1em;
  margin-right: 0.5rem;
}

nav a:hover::after,
nav a:active::after {
  content: "<";
  margin-left: 0.5rem;
  margin-right: 0;
}

main {
  margin-top: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

main > section {
  text-align: center;
}

main > section > * {
  padding: 0 1rem;
}

main > section img {
  width: 100px;
  height: 100px;
  margin-top: 2rem;
  background-color: white;
}

main > section h2 {
  color: #333;
  margin: 1rem 0;
  text-align: center;
  font-family: "Joystix";
}

main p,
main ul {
  text-align: left;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 18px 25px -15px rgba(128, 128, 128, 0.5);
  margin-bottom: 3rem;
}

table p {
  text-align: center;
}

thead {
  display: none;
}

tr {
  border: 1px solid #888;

  color: #000;
  background-color: #ddd;
}

tr.talk {
  color: #00aed4;
  background-color: #f8f8f8;
}

tr.talk a {
  color: #00aed4;
  font-weight: bold;
}

td, th {
  padding: 0.5rem 0.5rem;
}

tr.interim {
  color: #d0d0d0;
  background-color: #fff;
}

section.talk {
  margin: 1rem;
  padding: 1rem 0;
  font-size: 0;
  box-shadow: 0px 30px 25px -25px rgba(128, 128, 128, 0.4);
  padding-bottom: 0px;
  margin-bottom: 3rem;
}

section.talk.english::before {
  content: "En inglés";
  font-size: 1rem;
  float: right;
  display: block;
  background: red;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  color: white;
  box-shadow: 0 0 10px 0 grey;
}

section.talk > * {
  font-size: 1rem;
}

section.talk h3 {
  text-align: left;
  font-family: "Joystix";
  margin-bottom: 0.5rem;
}

section.talk p {
  padding-top: 0;
  padding-bottom: 0;
}

section.talk .summary {
  border-bottom: 1px solid grey;
  padding-bottom: 20%;
  margin-bottom: -20%;
  background-color: white;
}

section.talk img {
  margin: 0;
  width: 40%;
  height: auto;
  border-radius: 50%;
  margin-bottom: -20%;
}

section.talk .bio {
  padding: 1rem;
  padding-top: 25%;
  padding-top: calc(20% + 1rem);
  border-top: 1px solid grey;
  font-style: italic;
  text-align: center;
  background-color: #EEE;
}

.twitter,
.website {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  padding-left: 2rem;
}

.twitter {
  background-image: url('./imgs/social/twitter.svg');
}

.website {
  background-image: url('./imgs/social/website.svg');
}

.coc-contact li {
  list-style: none;
  text-align: center;
}

.highlight {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #EEE;
}

.disclaimer {
  line-height: 1.1rem;
  font-size: 0.8rem;
  font-style: italic;
  color: #555;
  margin: 0.5rem;
  margin-bottom: 2rem;
}

.ticket-modalities {
  display: flex;
  justify-content: center;
}

.ticket-modalities li {
  list-style: none;
  padding: 0 0.5rem;
}

main figure {
  padding: 1rem;
  margin-bottom: 3rem;
  box-shadow: 0px 20px 30px -10px rgba(128, 128, 128, 0.1);
}

main figure img {
  max-width: 100%;
  width: auto;
  height: auto;
}

main figure figcaption {
  margin-top: 1rem;
}

footer {
  text-align: center;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
}

@keyframes blink {
  0% {opacity: 1;}
  70% {opacity: 0;}
  71% {opacity: 1;}
  75% {opacity: 0;}
  76% {opacity: 1;}
  98% {opacity: 0;}
  99% {opacity: 1;}
}

@media (max-width: 700px) {
    iframe { display: none; }
}
