
* {
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (900 - 320)));
}

header {
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url('/imgs/space-bg.png');
  background-position: center;
  background-attachment: fixed;

  color: white;
}

h1 {
  margin-bottom: 0.5rem;
  font-weight: normal;
}

header time {
  margin-bottom: 1.5rem;
}

nav ul {
  margin-bottom: 0;
}

nav li {
  list-style: none;
  margin-bottom: 0.3rem;
}

nav a {
  color: white;
  text-decoration: none;
}

h2 {
  color: #333;
  margin: 3rem 0 1.5rem;
  text-align: center;
}

main {
  margin-top: 1rem;
}

main > * {
  padding: 0 1rem;
}

p,
ul {
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.coc-contact li {
  list-style: none;
  text-align: center;
}

.highlight {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #EEE;
}

.disclaimer {
  line-height: 1.1rem;
  font-size: 0.8rem;
  font-style: italic;
  color: #555;
}

.ticket-modalities {
  display: flex;
  justify-content: center;
}

.ticket-modalities li {
  list-style: none;
  padding: 0 0.5rem;
}
