
@font-face {
  font-family: "Joystix";
  src: url("./fonts/Joystix.ttf.woff");
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (900 - 320)));
}

header {
  font-family: "Joystix";
  position: relative;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: url('./imgs/space-bg.png') center fixed;
  color: white;
}

h1 {
  margin-bottom: 0.5rem;
  font-weight: normal;
  text-shadow: 0 1px 0 #ccc,
                0 2px 0 #c9c9c9,
                0 3px 0 #bbb,
                0 4px 0 #b9b9b9,
                0 5px 0 #aaa,
                0 6px 1px rgba(0,0,0,.1),
                0 0 5px rgba(0,0,0,.1),
                0 1px 3px rgba(0,0,0,.3),
                0 3px 5px rgba(0,0,0,.2),
                0 5px 10px rgba(0,0,0,.25),
                0 10px 10px rgba(0,0,0,.2),
                0 20px 20px rgba(0,0,0,.15);
}

header time {
  margin-bottom: 1.5rem;
  animation: blink 7s step-end infinite;
}

nav ul {
  margin-bottom: 0;
  font-size: 0.9rem;
}

nav li {
  list-style: none;
  margin-bottom: 0.4rem;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover,
nav a:active {
  color: #76ff01;
}

nav a:hover::before,
nav a:hover::after,
nav a:active::before,
nav a:active::after {
  content: ">";
  font-size: 1em;
  width: 1em;
  height: 1em;
  margin-right: 0.5rem;
}

nav a:hover::after,
nav a:active::after {
  content: "<";
  margin-left: 0.5rem;
  margin-right: 0;
}

main {
  margin-top: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

main > section {
  text-align: center;
}

main > section > * {
  padding: 0 1rem;
}

main > section img {
  width: 100px;
  height: 100px;
  margin-top: 2rem;
  background-color: white;
}

main > section h2 {
  color: #333;
  margin: 1rem 0;
  text-align: center;
  font-family: "Joystix";
}

main > section p,
main > section ul {
  text-align: left;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

.coc-contact li {
  list-style: none;
  text-align: center;
}

.highlight {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #EEE;
}

.disclaimer {
  line-height: 1.1rem;
  font-size: 0.8rem;
  font-style: italic;
  color: #555;
}

.ticket-modalities {
  display: flex;
  justify-content: center;
}

.ticket-modalities li {
  list-style: none;
  padding: 0 0.5rem;
}

main figure img {
  max-width: 100%;
  width: auto;
  height: auto;
}

main figure figcaption {
  margin-top: 1rem;
}

footer {
  text-align: center;
  height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
}

@keyframes blink {
  0% {opacity: 1;}
  70% {opacity: 0;}
  71% {opacity: 1;}
  75% {opacity: 0;}
  76% {opacity: 1;}
  98% {opacity: 0;}
  99% {opacity: 1;}
}

@media (max-width: 700px) {
    iframe { display: none; }
}
